body{
  background-color: rgb(225, 225, 225);
  color: rgb(255, 255, 255);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#container{
  width:100%;
  margin: 16px auto;
}

#board{
  list-style: none;
  margin:0 0 8px;
  padding: 10px;
  background-color: #fff;
  border-radius: 4px;
  display: flex;
  flex-wrap: wrap;
}

#timer{
  margin-bottom: 8px;
  font-size: 20px;
  text-align: right;
  color:rgb(79, 79, 79);
}

#board li{
  background-color: rgb(79, 79, 79);
  width: 38px;
  height: 38px;
  margin: 5px;
  cursor: pointer;
  line-height: 40px;
  text-align: center;
  font-weight: bold;
}

#board li.pressed{
  background-color:rgb(225, 225, 225) ;
  box-shadow: none;
}

#btn{
  cursor: pointer;
  user-select: none;
  background-color:rgb(50, 142, 255) ;
  padding: 8px;
  text-align: center;
  font-weight: bold;
}

